.mainheader {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 50px;

  .mainheader__header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: #414C63;
    margin-right: 50px;
  }
}

