@import "../../../styles/mixins.pcss";
@import "../../../styles/layout/base.pcss";

body {
  margin: 0;
  padding: 0;
}

.headline-component {
  overflow: hidden;
  width: 100%;
  background: #43436B;
  margin: 0;
  padding: 0;
  height: 80px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
