.btnaddgroup {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #383BCF;
  border: none;
  outline: none;
  background: transparent;
  white-space: nowrap;
  padding: 0;

  .btnaddgroup__icon {
    background: linear-gradient(149.16deg, #0D5EE5 13.11%, #343DD0 84.24%);
    color: #fff;
    display: inline-block;
    height: 24px;
    width: 23px;
    border-radius: 50%;
    margin-right: 12%;
  }
}