@import "../../../styles/mixins.pcss";

.menucontainer-component {
  overflow: hidden;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  height: 80px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  width: 95%;

  @include phones {
    width: 85%;
  }
}