.username-component {
  font-size: 16px;
  display: flex;
  align-items: center;

  .user-name {
    font-family: "Open Sans", Helvetica, sans-serif;
    line-height: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }

  .header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 25px;
  }
}

