nav.header__nav
  ul.menu
    li.menu__item
      a(href="/#about_me").menu__link Обо мне

    li.menu__item
      a(href="/#skills").menu__link Навыки

    li.menu__item 
      a(href="/#my-works").menu__link Работы

    li.menu__item 
      a(href="/#talk-about-me").menu__link Отзывы