mixin social(social_posit)
  ul(class=social_posit)
    li
      a(href="https://www.instagram.com/html_css_js_php_developer/" target="_blank").icon.insta.link-class
    li
      a(href="https://github.com/belocer" target="_blank").icon.github.link-class
    li
      a(href="https://vk.com/html_css_js_php_postgresql" target="_blank").icon.vk.link-class
    li
      a(href="mailto:belocerkovecden@gmail.com").icon.message.link-class