@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.full-wrapper {
  background: url("../images/bgadmin.jpg");
  background-size: cover;
  min-height: 100vh;
}

input {

  &:focus,
  &:active
  {
    border: none;
    outline: none;
  }
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-style: normal;
}