.btnadd__icon {
  background: linear-gradient(149.16deg, #0D5EE5 13.11%, #343DD0 84.24%);
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  line-height: 24px;
}