extends ./layout/main.layout.pug
include ./mixins.pug
include ./component/social.pug
include ./component/menu.pug

block title
  title Portfolio | main page

block content

  include ./screens/first_screen.pug

  include ./screens/skills.pug

  include ./screens/works.pug

  include ./screens/reviews.pug

  include ./screens/footer.pug

  include ./component/menu-mobile.pug